<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> HTML Practice </title>
</head>
<body>
    <h1> Heading one </h1>
    <h2> Heading two </h2>
    <h3> Heading three </h3>
    <h4> Heading four </h4>
    <h5> Heading five </h5>
    <h6> Heading six </h6>

    <p> This is paragraph tag </p>
    <p> Lorem Ipsum is <b>simply</b>  dummy text of the printing and typesetting industry. <i> Lorem Ipsum </i>  has been the industry's standard <small> dummy text </small> ever since the <mark> 1500s </mark>, when an unknown printer took a galley of type and scrambled it to make a type specimen <strong>book.</strong>
    </p>

    <p> Previous price <del> 500 </del> tk <br>
    New price: <ins> 400 tk </ins> <br> </p>
    <abbr title=" Quality & Faith"> QF </abbr>
    <p> (a+b) <sup>2</sup> - (a-b) <sup>2</sup> </p>
    <p> H<sub>2</sub>SO<sub>4</sub></p>

    <!-- I have commented here    -->

    <pre> QualiFaith 
                                offers
                                                    a new package

    </pre>
    <p>  <span style= "color: Green" >Green </span> is a beautyful color </p>

    <p> For learn more visit: <a href=" https://www.qualifaith.com/ "> QualiFaith </a> </p>
    <p> unordered_list </p>

    <ul style = "list-style-type: disc">
        <li> Three piece </li>
        <li> T-shirt </li>
        <li> Abaya </li>
        <li> Panjabi </li>
    </ul>

    <p> Ordered_list</p>

    <ol >
        <li> Sharee </li>
        <li> Kurti </li>
        <li> Skirt </li>
        <li> Hijab </li>
        <li> Bag </li>
    </ol>
    <form action=""> 
        <label for="">Enter your name: </label>
       <input type="text" name="" id="" placeholder= "" ><br><br>
       <input type="email" name="" id="" placeholder= "Enter your email" ><br><br>
       <input type="password" name="" id="" placeholder= "Enter your password" ><br><br>
       <input type="radio" name="gender" id="" >Male <br><br>
       <input type="radio" name="gender" id="" >Female <br><br>
       <input type="radio" name="gender" id="" >Others <br><br>

       <label for="">Enter your choice:</label> <br><br>
       <input type="checkbox" name="" id="" > Tea <br><br>
       <input type="checkbox" name="" id="" > Coffee<br><br>
       <input type="checkbox" name="" id="" > Chocolate<br><br>
       <input type="checkbox" name="" id="" > Ice-cream<br><br>
       <input type="date" name="" id="" >

       <input type="submit" value="submit">
       <input type="submit" value="Reset"> <br> <br>

       <table>
        <table width="700px" border="2px" align="center" cellspacing=5
        cellpadding=10 >
            <tr>
                <th>Teacher's name</th>
                <th>Subject</th>
                <th>Total class</th>
                <th>Duration</th>
            </tr>

            <tr>
                <td>Mr. X</td>
                <td>Mathematics</td>
                <td>5</td>
                <td>1 hour</td>
            </tr>

            <tr>
                <td>Mr. Y</td>
                <td>English</td>
                <td>6</td>
                <td>1 hour</td>
            </tr>
            <tr>
                <td>Mr. Z</td>
                <td>Bangla</td>
                <td>6</td>
                <td>45 minutes</td>
            </tr>
            <tr>
                <td>Mr. Newton</td>
                <td>Sciecne</td>
                <td>5</td>
                <td>2 hours</td>
            </tr>

       </table>
       


    </form>


   
    

</body>
</html>